<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Reset CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/css/trangchu.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>

<body>
    <div class="main">
        <!-- Start Container -->
        <div class="container">
            <div class="grid">
                <!-- Start of Home Banner -->
                <div class="home-banner grid__row">
                    <div class="main-banner grid__column-8">
                        <ul class="main-banner__list">
                            <li class="main-banner__items">
                                <a href="#" class="main-banner__items-link">
                                    <img src="/img/main-banner/banner-0.png" alt="Main banner"
                                        class="main-banner__items-img">
                                </a>
                            </li>
                            <!-- 
                            <li class="main-banner__items">
                                <a href="#" class="main-banner__items-link">
                                    <img src="/img/main-banner/banner-1.png" alt="Main banner" class="main-banner__items-img">
                                </a>
                            </li>
                            <li class="main-banner__items">
                                <a href="#" class="main-banner__items-link">
                                    <img src="/img/main-banner/banner-2.png" alt="Main banner" class="main-banner__items-img">
                                </a>
                            </li>
                            <li class="main-banner__items">
                                <a href="#" class="main-banner__items-link">
                                    <img src="/img/main-banner/banner-3.png" alt="Main banner" class="main-banner__items-img">
                                </a>
                            </li>
                            <li class="main-banner__items">
                                <a href="#" class="main-banner__items-link">
                                    <img src="/img/main-banner/banner-4.png" alt="Main banner" class="main-banner__items-img">
                                </a>
                            </li>
                            <li class="main-banner__items">
                                <a href="#" class="main-banner__items-link">
                                    <img src="/img/main-banner/banner-5.png" alt="Main banner" class="main-banner__items-img">
                                </a>
                            </li>
                            <li class="main-banner__items">
                                <a href="#" class="main-banner__items-link">
                                    <img src="/img/main-banner/banner-6.png" alt="Main banner" class="main-banner__items-img">
                                </a>
                            </li>
                             -->
                        </ul>
                    </div>

                    <div class="right-banner-wrapper grid__column-4">
                        <div class="sub-banner">
                            <a href="#" class="sub-banner__link">
                                <img src="/img/right-side-banner/banner-1.png" alt="Right main banner"
                                    class="sub-banner__img">
                            </a>
                        </div>
                        <div class="sub-banner">
                            <a href="#" class="sub-banner__link">
                                <img src="/img/right-side-banner/banner-2.png" alt="Right main banner"
                                    class="sub-banner__img">
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of Home Banner -->

                <!-- Start of Suggestion Category -->
                <div class="suggestion-category">
                    <a href="#" class="suggestion-category__items">
                        <img src="/img/suggestion-category/shopee-premium.png" alt="Icon"
                            class="suggestion-category__items-icon">
                        <div class="suggestion-category__items-content">Shopee Premium</div>
                    </a>
                    <a href="#" class="suggestion-category__items">
                        <img src="/img/suggestion-category/deal-1k.png" alt="Icon"
                            class="suggestion-category__items-icon">
                        <div class="suggestion-category__items-content">Gì Cũng Rẻ - Từ 1K</div>
                    </a>
                    <a href="#" class="suggestion-category__items">
                        <img src="/img/suggestion-category/cashback.png" alt="Icon"
                            class="suggestion-category__items-icon">
                        <div class="suggestion-category__items-content">hoàn xu 20% - đơn từ 0Đ</div>
                    </a>
                    <a href="#" class="suggestion-category__items">
                        <img src="/img/suggestion-category/digital-product.png" alt="Icon"
                            class="suggestion-category__items-icon">
                        <div class="suggestion-category__items-content">Nạp thẻ, hóa đơn & E-voucher</div>
                    </a>
                    <a href="#" class="suggestion-category__items">
                        <img src="/img/suggestion-category/shopee-what-number.gif" alt="Icon"
                            class="suggestion-category__items-icon">
                        <div class="suggestion-category__items-content">Shopee số gì đây</div>
                    </a>
                    <a href="#" class="suggestion-category__items">
                        <img src="/img/suggestion-category/freeship-xtra.png" alt="Icon"
                            class="suggestion-category__items-icon">
                        <div class="suggestion-category__items-content">Freeship xtra</div>
                    </a>
                    <a href="#" class="suggestion-category__items">
                        <img src="/img/suggestion-category/special-offer.png" alt="Icon"
                            class="suggestion-category__items-icon">
                        <div class="suggestion-category__items-content">Hàng hiệu -50% - Voucher -50%</div>
                    </a>
                    <a href="#" class="suggestion-category__items">
                        <img src="/img/suggestion-category/international-goods.png" alt="Icon"
                            class="suggestion-category__items-icon">
                        <div class="suggestion-category__items-content">Hàng quốc tế - Freeship 0Đ</div>
                    </a>
                    <a href="#" class="suggestion-category__items">
                        <img src="/img/suggestion-category/tech-zone.png" alt="Icon"
                            class="suggestion-category__items-icon">
                        <div class="suggestion-category__items-content">Tech zone - Siêu thị điện tử</div>
                    </a>
                    <a href="#" class="suggestion-category__items">
                        <img src="/img/suggestion-category/new-sale.png" alt="Icon"
                            class="suggestion-category__items-icon">
                        <div class="suggestion-category__items-content">Mừng ngày xuống phố</div>
                    </a>
                </div>
                <!-- End of Suggestion Category -->

                <div class="welcome-banner">
                    <a href="#">
                        <img src="/img/welcome-banner.png" alt="Welcome Banner" class="welcome-banner__img">
                    </a>
                </div>

                <div class="month-sale">
                    <!-- Month Sale Background -->
                    <div class="month-sale__background">
                    </div>

                    <!-- Month Sale Header -->
                    <div class="month-sale__header">
                        <img src="/img/month-sale/month-sale-header.jpg" alt="Month Sale Header"
                            class="month-sale__header-img">
                    </div>

                    <!-- Month Sale Best Products and Brands -->
                    <div class="month-sale__product">
                        <div class="month-sale__best">
                            <div class="month-sale__best-heading">
                                <div class="month-sale__best-header">
                                    Sản phẩm bán chạy
                                </div>
                                <div class="month-sale__more">
                                    <a href="#">
                                        Xem Thêm
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="month-sale__best-product">
                                <a href="#" class="month-sale__best-items">
                                    <img src="/img/month-sale/item-1.jpg" alt="Month Sale IMG"
                                        class="month-sale__best-img">
                                    <div class="price">
                                        <span class="currency-unit">đ</span>5.999
                                    </div>
                                </a>
                                <a href="#" class="month-sale__best-items">
                                    <img src="/img/month-sale/item-2.jpg" alt="Month Sale IMG"
                                        class="month-sale__best-img">
                                    <div class="price">
                                        <span class="currency-unit">đ</span>50.000
                                    </div>
                                </a>
                                <a href="#" class="month-sale__best-items">
                                    <img src="/img/month-sale/item-3.jpg" alt="Month Sale IMG"
                                        class="month-sale__best-img">
                                    <div class="price">
                                        <span class="currency-unit">đ</span>20.000
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="month-sale__best">
                            <div class="month-sale__best-heading">
                                <div class="month-sale__best-header">
                                    Thương hiệu nổi bật
                                </div>
                                <div class="month-sale__more">
                                    <a href="#">
                                        Xem Thêm
                                        <i class="fas fa-angle-right"></i>
                                    </a>
                                </div>
                            </div>

                            <div class="month-sale__best-product">
                                <a href="#" class="month-sale__best-items">
                                    <img src="/img/month-sale/item-4.jpg" alt="Month Sale IMG"
                                        class="month-sale__best-img">
                                    <div class="price">giảm đến 50%</div>
                                </a>
                                <a href="#" class="month-sale__best-items">
                                    <img src="/img/month-sale/item-5.png" alt="Month Sale IMG"
                                        class="month-sale__best-img">
                                    <div class="price">giảm đến 30%</div>
                                </a>
                                <a href="#" class="month-sale__best-items">
                                    <img src="/img/month-sale/item-6.jpg" alt="Month Sale IMG"
                                        class="month-sale__best-img">
                                    <div class="price">giảm đến 50%</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Start of Main Category -->
                <div class="main-category">
                    <div class="main-category__header">
                        danh mục
                    </div>

                    <div class="main-category__list">
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/man-fashion.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Thời trang nam</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/mobile.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Điện thoại & phụ kiện</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="/details" class="main-category__item-link">
                                <img src="/img/main-category/electronic-device.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Thiết bị điện tử</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/laptop.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Máy tính & laptop</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/camera.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Máy ảnh & máy quay phim</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/watch.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Đồng hồ</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/man-shoe.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Giày dép nam</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/houseware.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Thiết bị điện gia dụng</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/sport.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Thể thao & du lịch</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/moto.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Ô tô & xe máy & xe đạp</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/woman-fashion.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Thời trang nữ</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/baby.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Mẹ & bé</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/home-and-life.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Nhà cửa & đời sống</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/beautiful.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Sắc đẹp</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/healthy.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Sức khỏe</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/woman-shoe.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Giày dép nữ</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/woman-bag.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Túi ví nữ</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/woman-jewelry.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Phụ kiện & trang sức nữ</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/online-store.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Bách hóa online</div>
                            </a>
                        </div>
                        <div class="main-category__item">
                            <a href="#" class="main-category__item-link">
                                <img src="/img/main-category/book-store.png" alt="Main category item img"
                                    class="main-category__item-img">
                                <div class="main-category__item-text">Nhà sách online</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of Main Category -->

                <!-- Start of Flash Sale -->
                <div class="flash-sale">
                    <div class="flash-sale__heading">
                        <img src="/img/flash-sale/flash-sale-icon.png" alt="Flash Sale Icon"
                            class="flash-sale__header">
                        <div class="flash-sale__countdown">
                            <div class="flash-sale__countdown-unit">
                                <div class="flash-sale__countdown-hour flash-sale__coundown-first-digit">
                                    0
                                </div>
                                <div class="flash-sale__countdown-hour flash-sale__coundown-second-digit">
                                    0
                                </div>
                            </div>
                            <div class="flash-sale__countdown-unit flash-sale__countdown-minute">
                                <div class="flash-sale__countdown-hour flash-sale__coundown-first-digit">
                                    0
                                </div>
                                <div class="flash-sale__countdown-hour flash-sale__coundown-second-digit">
                                    0
                                </div>
                            </div>
                            <div class="flash-sale__countdown-unit flash-sale__countdown-second">
                                <div class="flash-sale__countdown-hour flash-sale__coundown-first-digit">
                                    0
                                </div>
                                <div class="flash-sale__countdown-hour flash-sale__coundown-second-digit">
                                    0
                                </div>
                            </div>
                        </div>
                        <a href="#" class="flash-sale__view-all">
                            Xem tất cả
                            <i class="fas fa-angle-right"></i>
                        </a>
                    </div>

                    <div class="flash-sale__product grid__row">
                        <div class="flash-sale__item grid__column-2">
                            <a href="#" class="flash-sale__item-link">
                                <img src="/img/flash-sale/hair-tie.jpg" alt="Flash Sale Product IMG"
                                    class="flash-sale__item-img">
                                <div class="price"><span class="currency-unit">đ</span>1.000</div>
                                <div class="flass-sale__item-progress">
                                    <div class="flass-sale__progress-state" style="left: 1.5rem;"></div>
                                    <div class="flass-sale__progress-text">Đã bán 1</div>
                                </div>
                            </a>
                        </div>
                        <div class="flash-sale__item grid__column-2">
                            <a href="#" class="flash-sale__item-link">
                                <img src="/img/flash-sale/pan.jpg" alt="Flash Sale Product IMG"
                                    class="flash-sale__item-img">
                                <div class="price"><span class="currency-unit">đ</span>69.000</div>
                                <div class="flass-sale__item-progress">
                                    <div class="flass-sale__progress-state" style="left: 3.0rem;"></div>
                                    <div class="flass-sale__progress-text">Đã bán 5</div>
                                </div>
                            </a>
                        </div>
                        <div class="flash-sale__item grid__column-2">
                            <a href="#" class="flash-sale__item-link">
                                <img src="/img/flash-sale/recycle-bin.jpg" alt="Flash Sale Product IMG"
                                    class="flash-sale__item-img">
                                <div class="price"><span class="currency-unit">đ</span>9.000</div>
                                <div class="flass-sale__item-progress">
                                    <div class="flass-sale__progress-state" style="left: 0; border-radius: 16px;"></div>
                                    <div class="flass-sale__progress-text">Đã bán 0</div>
                                </div>
                            </a>
                        </div>
                        <div class="flash-sale__item grid__column-2">
                            <a href="#" class="flash-sale__item-link">
                                <img src="/img/flash-sale/scale.jpg" alt="Flash Sale Product IMG"
                                    class="flash-sale__item-img">
                                <div class="price"><span class="currency-unit">đ</span>76.000</div>
                                <div class="flass-sale__item-progress">
                                    <div class="flass-sale__progress-state" style="left: 60px;"></div>
                                    <div class="flass-sale__progress-text">Đã bán 33</div>
                                </div>
                            </a>
                        </div>
                        <div class="flash-sale__item grid__column-2">
                            <a href="#" class="flash-sale__item-link">
                                <img src="/img/flash-sale/underwear.jpg" alt="Flash Sale Product IMG"
                                    class="flash-sale__item-img">
                                <div class="price"><span class="currency-unit">đ</span>11.000</div>
                                <div class="flass-sale__item-progress">
                                    <div class="flass-sale__progress-state" style="left: 100px;"></div>
                                    <div class="flass-sale__progress-text">Đã bán 69</div>
                                </div>
                            </a>
                        </div>
                        <div class="flash-sale__item grid__column-2">
                            <a href="#" class="flash-sale__item-link">
                                <img src="/img/flash-sale/wall-hook.jpg" alt="Flash Sale Product IMG"
                                    class="flash-sale__item-img">
                                <div class="price"><span class="currency-unit">đ</span>1000</div>
                                <div class="flass-sale__item-progress">
                                    <div class="flass-sale__progress-state" style="left: 50px;"></div>
                                    <div class="flass-sale__progress-text">Đã bán 13</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End of Flash Sale -->
            </div>
        </div>
        <!-- End Container -->

        <!-- Start Footer -->
        <div class="footer">

        </div>
        <!-- End Footer -->
    </div>
</body>

</html>